
html
    head
        title Document
body
    h1 Hello Edupoly Welcome to Todolists
    a(href="/Aboutus.html") Aboutus Edupoly
    i &nbsp;&nbsp;&nbsp;
    a(href="/addTodo.html") Add Todo
    i &nbsp;&nbsp;&nbsp;
    a(href="/myTodos") My Todos
    i &nbsp;&nbsp;&nbsp;
    a(href="/allTodos") All Todo
    i &nbsp;&nbsp;&nbsp;
    a(href="/logout") Logout
    i &nbsp;&nbsp;&nbsp;
</body>

</html>