h1 Hello Edupoly Welcome to Todolists
a(href="/Aboutus.html") Aboutus Edupoly
i &nbsp;&nbsp;&nbsp;
a(href="/todos/addTodo") Add Todo
i &nbsp;&nbsp;&nbsp;
a(href="/todos/myTodos") My Todos
i &nbsp;&nbsp;&nbsp;
a(href="/todos/allTodos") All Todo
i &nbsp;&nbsp;&nbsp;
a(href="/logout") Logout
i &nbsp;&nbsp;&nbsp;