
html
    head
        title Document
body
    h1 Hello Edupoly Welcome to Todolists
    a(href="/Aboutus.html") Aboutus Edupoly
    i &nbsp;&nbsp;&nbsp;
    a(href="/Contactus.html") Contactus Edupoly
    i &nbsp;&nbsp;&nbsp;
    a(href="/login.html") Login  
    i &nbsp;&nbsp;&nbsp;
    a(href="/signup.html") Signup 
</body>

</html>