html
    head
        title welcome to pug
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous")
    body 
        include header.pug
        div(class="d-flex flex-wrap m-4 p-2 list-unstyled")
            each todo in todos
                li(class="m-4 border border-secondary rounded p-3") 
                    b #{todo.todo}
                    br
                    //- i #{todo.imagePath}
                    //- img(src=`${todo.imagePath}`)